.overScroll {
  overflow: scroll;
  max-height:15em;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.overScroll::-webkit-scrollbar {
  display: none;
}

.scrolStatic {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 5px;
}
