.componentBeli {
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.componentBeli div {
  -ms-flex: 1;
  flex: 1;
}

.overScrollBeli {
  overflow: scroll;
  max-height:300px;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.overScrollBeli::-webkit-scrollbar {
  display: none;
}

.scrolStatic {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.fontS {
  font-size:1.13rem;
}

.mouseHover:hover {
  cursor: pointer;
}